<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;apptheme&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-css-layout size-full>
   <vaadin-panel style-name="borderless" _id="searchPanel">
    <vaadin-horizontal-layout spacing="false" width-full margin-left margin-right margin-top>
     <vaadin-css-layout style-name="list-filters" width-full :expand>
      <vaadin-text-field id="searchField" placeholder="Search" _id="searchField"></vaadin-text-field>
      <vaadin-button icon="fonticon://Vaadin-Icons/e805" id="searchButton" plain-text _id="searchButton"></vaadin-button>
      <vaadin-check-box caption="Include past" style-name="small" _id="includePast"></vaadin-check-box>
      <vaadin-label plain-text _id="noteLabel">
        Label 
      </vaadin-label>
     </vaadin-css-layout>
    </vaadin-horizontal-layout>
   </vaadin-panel>
   <vaadin-horizontal-layout width="788px">
    <vaadin-css-layout width="50%">
     <vaadin-image width="368px" height="292px" _id="summonerImage"></vaadin-image>
    </vaadin-css-layout>
    <vaadin-css-layout>
     <vaadin-vertical-layout size-auto>
      <vaadin-label caption="Name" plain-text _id="nameLabel">
        Label 
      </vaadin-label>
      <vaadin-label caption="Level" plain-text _id="levelLabel">
        Label 
      </vaadin-label>
      <vaadin-label caption="Rank" plain-text _id="rankLabel">
        Label 
      </vaadin-label>
     </vaadin-vertical-layout>
    </vaadin-css-layout>
   </vaadin-horizontal-layout>
  </vaadin-css-layout>
 </body>
</html>