<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;apptheme&quot;}">
  <meta name="vaadin-version" content="8.0.5">
  <meta name="package-mapping" content="de_leuphana_ui_view_matchhistory:de.leuphana.ui.view.matchHistory">
  <meta name="package-mapping" content="orders:de.leuphana.ui.components">
 </head>
 <body>
  <vaadin-vertical-layout style-name="storefront" spacing="false" size-full margin="false">
   <orders-match-history-grid id="matchHistoryGrid" size-full _id="matchHistoryGrid" :expand></orders-match-history-grid>
  </vaadin-vertical-layout>
 </body>
</html>