@mixin menu {
  .app-shell {
  	
  	.v-image{
  		margin-left:10px;
  		margin-top:10px;
  		margin-bottom: 20px;
  		
  	}
  
    .navigation-bar {
      background-color: #262626;
      background-size:cover;
      background-position: top;
  
      .v-button {
        border-radius: 2px;
        color:#fff;
      	font-weight:100;
      	font-size:18px;
      }
      
      .v-button:hover{
      	background-color:transparentize(#FDBD97, 0.8);
      	
      	}
      
      .selected {
        background: transparentize(#EB433A, 0.2);
        //color: lighten( #F75615,60%);
        
      }
      .activeViewName {
        line-height: $v-unit-size;
        width: auto !important;
        padding: 0 $v-unit-size / 2.5;
        font-size: $v-font-size;
      }
    }
  }

  // narrow screens
  .app-shell[width-range~="-600px"] {
    .logo {
      max-width: 150px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .v-caption-logo {
      float: left;
    }
  }

  // medium screens
  .app-shell[width-range~="601px-"] {
    .activeViewName {
      display: none;
    }
    .v-caption-logo {
      display:block;
      text-align: center;
    }
    @if $app-background-gradient {
      // apply gradient, if configured
      .navigation-bar-container {
          background-image: $app-background-gradient;
      }
      .navigation-bar {
        background-color: transparent;
      }
      .navigation {
        background-color: transparent;
        border: none;
      }
    }
  }
  // wide screens
  .app-shell[width-range~="1001px-"] {
    @if $app-background-image {
      // load the background image, if configured
      .navigation-bar {
        background-image: $app-background-image;
      }
    }
  }
}
