<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;apptheme&quot;}">
  <meta name="vaadin-version" content="8.0.5">
  <meta name="package-mapping" content="de_leuphana_ui_components:de.leuphana.ui.components">
 </head>
 <body>
  <vaadin-vertical-layout size-full>
   <vaadin-horizontal-layout width-full>
    <vaadin-list-select caption="for example:" rows="3" id="optionMatch" data-item-type="java.lang.String" _id="optionMatch" :middle :right>
     <option item="3177959013">3177959013</option>
     <option item="3125556923">3125556923</option>
     <option item="3129658250">3129658250</option>
    </vaadin-list-select>
    <vaadin-text-field caption="Enter your matchId:" _id="inputMatchId" :middle :right></vaadin-text-field>
    <vaadin-text-field caption="Enter your summoner:" placeholder="SkullD3mon" _id="inputSummoner" :middle></vaadin-text-field>
    <vaadin-label plain-text :middle>
      e.g. SkullD3mon 
    </vaadin-label>
    <vaadin-button plain-text _id="buttonCheck" :bottom>
      Check match 
    </vaadin-button>
   </vaadin-horizontal-layout>
  </vaadin-vertical-layout>
 </body>
</html>