<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-grid-layout size-full>
   <row>
    <column>
     <vaadin-menu-bar>
      <menu>
        File 
       <menu>
         Open 
       </menu>
       <menu>
         Save 
       </menu>
       <menu>
         Preferences 
       </menu>
       <menu separator></menu>
       <menu>
         Quit 
       </menu>
      </menu>
      <menu>
        Edit 
      </menu>
      <menu description="Some description">
        About 
      </menu>
     </vaadin-menu-bar>
    </column>
   </row>
   <row>
    <column rowspan="2"></column>
    <column>
     <vaadin-label caption="Test Label" plain-text>
       Label 
     </vaadin-label>
    </column>
   </row>
   <row></row>
  </vaadin-grid-layout>
 </body>
</html>